body {
  margin: 1%;
}

header {
  
}

#container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 1px dotted black;
}

#containertwo {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  border: 1px dotted black;
}

